<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>com.fjt.mvc.DispatcherServlet</servlet-class>

        <init-param>
            <!--配置参数，这里是默认在src下的application.properties作为配置文件
            这样在Servlet启动时就会加载这里的参数，这个参数就是这个application.properties
            的文件名称，需要写代码来加载这个文件-->
            <param-name>contentConfigLocation</param-name>
            <param-value>application.properties</param-value>
        </init-param>

        <load-on-startup>0</load-on-startup><!--项目启动之后就加载Servlet-->
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <!--        所有以.do结尾的都会走到DispatcherServlet这里-->
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>